pushi 0 // aqui é a variável i (posição 0)

start

// i = 1
pushi 1
storeg 0

// se 1 elefante chateia muita gente...

// while i < 10
iniciowhile:
pushg 0
pushi 10
inf
jz fimwhile

// escreve "se"
pushs "se "
writes

// escreve i
pushg 0
writei

// escreve "elefante chateia muita gente ..."
pushs " elefante chateia muita gente... "
writes

// i = i + 1
pushg 0
pushi 1
add
storeg 0

// escreve i
pushg 0
writei

// escreve "incomoda muito mais"
pushs " elefantes incomodam muito mais\n"
writes

jump iniciowhile

fimwhile:

stop
